.Products {
  display: flex;

  justify-content: space-evenly;
  user-select: none;
}

@media screen and (max-width: 1200px) {
  .Products{
      justify-content:flex-start;
      margin-top: 2rem;
  }
}

@media screen and (max-width: 768px)
{
  .Products{
    flex-direction: column;
      align-items: center;
  }
}